
.boxMenu{
    width: 260px;
    height: 239px;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.01);
    margin-top: 25px;
}
.boxTxt {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #1F4173;
    padding: 0px 0px 15px 0px;
}

.boxStyle {
    padding: 20px;
    text-align: start;
}
.txtLorem {
    color: #767676;
    font-size: 14px;
    line-height: 18px;
}
.photo {
    padding: 0px 0px 15px 0px;
  }

.styleButton {
    padding: 3px 20px;
    background: #F5F7FB;
    border: 1px solid #F2F2F2;
    color: #3BA6B3;
    border-radius: 5px;
    text-decoration: none;
}
.styleButton:hover {
    background: #E5E5E5;
    color: #3BA6B3;
}

.line {
    border: 1px solid #EEEEEE;
    margin: 18px 0px 18px 0px;
}
